.navbar {
  --bs-navbar-brand-font-size: 1rem;
  --bs-navbar-font-size: 1rem;
  --bs-navbar-color: $dark;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.collapsible-content.open {
  max-height: 300px; /* Adjust this value based on the height of your content */
}
