@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$dark: #1e1e27;
$light: rgb(233, 233, 228);
$kanna: #eeff87;

html,
body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: $dark;
  background-color: $light;
}

a {
  color: $dark;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.bg-kanna {
  background-color: $kanna;
}

@import "./scrollbar.scss";
@import "./btn.scss";
@import "./navbar.scss";
